*{
    font-family: Avenir LT Std;
list-style: none;
}





    

.button{
    font-family: Avenir LT Std;
    border: none;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: 100;
    margin: 4px 2px;
    cursor: pointer;
}
h2{
    color: #41276D;
    text-align: center;
    clear: both;
   
}

.navbar-brand{


    margin-right: 5px;
}
.nav-link dropdown-toggle{
    
	
    box-shadow: 2px;
    background: 	linear-gradient(to bottom right, rgba(244, 244, 244, 0.932), rgba(249, 246, 246, 0.936));
}

.logo {
	width:	80px;
	height:	80px;
    margin-left: 20px;
    margin-bottom: 9px;
	float:	left;

}
.button-container{
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
}
.btn{
    color: antiquewhite;
    background-color: #41276D;
    transition: 1s;
}

.dropbtn{
    
    position: relative;
    padding: 16px;
    font-size: 16px;
    border: none;
}
.topphrase {
	font-family: Avenir LT Std;
	font-size:		40px;
	color:			rgb(255, 255, 255);
	padding-top:	35px;
	padding-right:	40px;
	float: 			right;
}






.dropdown {
    margin-left: 40px;
    margin-right: 40px;
    display:	inline-block;
	position:	relative;
}

.dropdown-content {
    display: 			none;
    position: 			absolute;
    background-color: 	rgb(255, 255, 255);
    color: #41276D;
    font-size: 12px;
    font-weight: 100;
	
}

.dropdown-content a {
    padding: 			12px 16px;
    
    display: 	grid;
    text-align: 		left;
	width:				100%;
	
    
}

.dropdown-content a:hover {
	background-color: 	rgb(227, 231, 234);
    color: #41276D;
}

.dropdown:hover .dropdown-content {
    display:	block;
    background-color: rgba(255, 255, 255, 0);
    
}
.display-2{
    font-size: 30px;
    font-style: bold;
    justify-content: left;
}

.globe{
    float: right;
    margin-right: 9px;
    margin: 9px;
}
.span{
    
    display:flex;
    justify-content: space-between;

}
.foot{
    color: #41276D;
}
.list{
    color: black;
}
.img-fluid{

    justify-content: right;
}
    
.save{
    clear: both;
}
